*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-family: 'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
  --second-family: 'Gill Sans', sans-serif;
}
a {
  text-decoration: inherit;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
}
